---
layout: archive
title: "Development"
permalink: /talks/
author_profile: true
---

Here you will find a record of my professional development, encompassing formal coursework, workshops, and conferences that have contributed to my ongoing learning and expertise.

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

{% for post in site.teaching reversed %}
  {% if post.path contains 'deep-learning-model-deployment' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
